<p>Mauricio</p>

<div style="border: 1px solid red;">
<app-test age="3"(clickAge)="saveClickChild($event)"></app-test>
</div>

<div style="border: 1px solid green;">
<app-test2 age="21" name="Mauricio" description="Hola" (clickSave)="clickSaveChild($event)"
          ></app-test2>
</div> 
  

 <div  *ngIf="sw" style="border: 1px solid black;">
<app-test3></app-test3>
<button (click)="sw =false;"> Change SW</button>
</div> 

 <div *ngFor="let person of persons; let i = index">
   <p>{{person}}==={{i}}</p>
</div> 
