<p>Mauricio</p>

<div style="border: 1px solid red;">
<app-test age="3"(clickAge)="saveClickChild($event)"></app-test>
</div>

<div style="border: 1px solid green;">
<app-test2 age="21" name="Mauricio" description="Hola" (clickSave)="clickSaveChild($event)"
          ></app-test2>
</div> 
  

 <div  *ngIf="sw" style="border: 1px solid black;">
<app-test3></app-test3>
<button (click)="sw =false;"> Change SW</button>
</div> 

 <div *ngFor="let person of persons; let i = index">
   <p>{{person}}==={{i}}</p>
</div> 

 <div [ngSwitch]="aux">
   <p *ngSwitchCase="3">el valor es 3</p>
   <p *ngSwitchCase="2">el valor es 2</p>
   <p *ngSwitchDefault>No es ni 3 ni 2</p>
</div> 
 
 <button (click)="auxColor='yellow'">Amarillo</button>
 <button (click)="auxColor='green'">Verde</button>
  <button (click)="auxColor='red'">Rojo</button>


<div [ngStyle]="{ 'border': '1px solid '+ auxColor, 'color': auxColor}">
  personas
</div>

<div [style.color]="auxColor">
  auto
</div> 

<button (click)="auxClass=!auxClass">ChangeClass</button>

<div [ngClass]="{'test1': auxClass, 'test2': !auxClass}">
  ngClass example
</div>


<div [class.test1]="auxClass" >
  ngClass example
</div> 

<div *ngFor="let person of personss">
<div [ngStyle]="{'background': person.enable ? 'purple' :'red' }">
<persona [name]="person.name" [lastName]="person.lastName" [age]="person.age" [enable]="person.enable"
          ></persona>
</div>
</div> 

<app-prod1></app-prod1>
<app-prod2></app-prod2> 

<app-ad1></app-ad1>
<app-ad2></app-ad2>
<app-ad3></app-ad3>
<app-us1></app-us1>
<app-us2></app-us2>